*{
    outline: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: #9ead9c;
    overflow: hidden;
}

.container{
    position: absolute;
    color: #741244;
    height: 300px;
    width: 500px;
    justify-items: center;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    justify-items: center;
}


.inpt{
    height: 20px;
    width: 50%;
    border-style: none;
    padding: 5px;
    display: block;
    margin: 30px;
    

}
.btn{
    color: #741244;
    background-color: #6ead7a;
    height: 40px;
    width:150px;
    border-style: none;
    letter-spacing: 2px;
    font-size: large;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    
}

.btn:hover{
    width: 200px;
    background-color: #6ead7a;
    
}

.nubmerUsed{
    color: antiquewhite;
    margin: 40px;
}

.tries{
    margin: 40px;
}
.level{
    position: absolute;
    display: grid;
     
}